<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程系列信息</title>
    <link rel="stylesheet" href="/media/css/cour_series.css">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
     <!-- 导航栏 -->
     <div class="x-top">
        <div class="container">
                <nav class="navbar  navbar-inverse" role="navigation">
                    <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/index">线上学习网</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/res/area">资源区</a></li>
                        <li><a href="/user">个人中心</a></li>
                    </ul>
                    <ul id="user-state" class="nav navbar-nav navbar-right"></ul>
                    </div>
                </nav>
        </div>
    </div>


    <!-- 主体 -->
    <div  class="container" style="margin-top: 70px;">
        <div id="body" class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <span id="occ-title" class="panel-title"></span>
                                <a id="shou" class="text-warning" href="javascript:;"></a>
                            </div>
                            <div id="occ-synopsys" class="panel-body zhiye-nei"></div>
                            <div class="panel-footer" style="overflow: hidden;">
                                <span class="glyphicon glyphicon-star"></span> 
                                <span id="occ-collection"></span>
                                <span class="glyphicon glyphicon-user" style="margin-left: 25px;"></span>
                                <span id="occ-name"></span> 
                                <button type="button" class="btn btn-warning pull-right">举报</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">课程系列</h3>
            </div>
            <div class="panel-body">
                <ul class="ul-ziyuan"></ul>
            </div>
        </div>
    </div>

    <script src="/media/js/zhu.js"></script>
    <script src="/media/js/cour_series.js"></script>
</body>
</html>
