.x-top{
    background-color: #222;
    z-index: 100;
    width: 100%;
    height: 52px;
    position: fixed;
    top: 0;
    left: 0;
}
.x-top>.container>.navbar{
    border: none;
}
.fen-img{
    border: solid 1px #eee;
    height: 155px;
    margin-bottom: 2px;
}
.fen-img>img{
    width: 100%;
    height: 100%;
}
.ul-ziyuan{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.ul-ziyuan>li{
    float: left;
    width: 253px;
    height: 256px;
    margin: 0 11px 10px 11px;
}
.ziyuan-img img{
    height: 100%;
    width: 100%;
}
.ul-ziyuan>li>a{
    text-decoration:none;
}
.ziyuan-img{
    height: 150px;
}
.panel-footer{
    overflow: hidden;
}
.jd-tian{
    margin-right: 10px;
}
.div-duiqi{
    text-align: right;
}
.bao-han,.bao-li>li{
    overflow: hidden;
}
.cour-a1{
    margin-right: 17px;
}
.cour-a2{
    margin-right: 10px;
}